.box_services{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    top: 31rem;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3px);
    padding: 10rem 0;
    z-index: 9999;
}



.box_services p{
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    text-align: center;
    font-family: MontserratBold;
    letter-spacing: 0px;
    width: 52%;

}


.services_button_section{
    color: white;
    border: 2px solid white;
    font-size: 4rem;
    letter-spacing: 1.5px ;
    font-family: bulevar;
    padding: 1rem 2rem;
    cursor: pointer;
    text-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
    position: relative;
    top: 2rem;
}

.services_button_section:hover{
    scale: 1.1;
    text-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .7rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}