

.box_technology{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}


.box_technology p{
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    text-align: center;
    font-family: MontserratBold;
    letter-spacing: 0px;
    width: 52%;

}