.header{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
}


.webGL_header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    filter: contrast(105%) ;
    pointer-events: none;
}

.box_titleHeader{
    width: 45%;
    height: 100vh;
    z-index: 999 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleMintz{
    position: relative;
    top: -10rem;
    color: rgba(255, 255, 255, 0.973);
    font-size: 12.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: bulevar;
    letter-spacing: 4px;
    line-height: 7rem;
    text-shadow:  0 0 1rem rgb(112, 10, 10);
}

.titleMintz span{
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    font-size: 5.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: bulevar;
    letter-spacing: 3px;
    text-shadow:  0 0 1rem rgb(112, 10, 10);
}


/* present */

.presentMintz{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    top: 31rem;
    gap: 4rem;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3px);
    padding: 10rem 0;
}

.titleContainer{
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    font-size: 15rem;
    text-transform: uppercase;
    text-align: center;
    font-family: bulevar;
    letter-spacing: 5px;
}

.box_about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 52%;
    height: 100%;
}


 .box_about p{
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.5rem;
    font-family: MontserratBold;
    letter-spacing: 0px;
}


/* box technology*/

.box_technology{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    top: 31rem;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3px);
    padding: 10rem 0;
}


/* footer */

.footer{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    top:0rem;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    padding: 10rem 0;
}

@media screen and (max-width:1440px) {
    
    /* present */

    .presentMintz{
        top: 25rem;
    }

    .titleContainer{
        font-size: 15rem;
    }

    .box_about{
        width: 52%;
    }

/* box technology*/

    .box_technology{
        top: 25rem;
    }
}

@media screen and (max-width:1440px) {
    
    /* present */

    .presentMintz{
        top: 25rem;
    }

    .titleContainer{
        font-size: 15rem;
    }


    .box_titleHeader {
        width: 65rem;
        height: 100vh;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* box technology*/

    .box_technology{
        top: 25rem;
    }

    .box_about{
        width: 82%;
    }

    .box_technology p {
        width: 82%;
    }
}


@media screen and (max-width:600px) {
    
    /* present */

    .presentMintz{
        top: 25rem;
    }

    .titleContainer{
        font-size: 15rem;
    }


    .box_about{
        width: 92%;
    }

    .box_technology p {
        width: 92%;
    }

    .box_titleHeader {
        width: 100%;
    }

    .titleMintz {
        top: -10rem;
        font-size: 10.5rem;
        letter-spacing: 4px;
        line-height: 6rem;
    }

    .titleMintz span {
        font-size: 4.5rem;
        letter-spacing: 3px;
    }
/* box technology*/

    .box_technology{
        top: 25rem;
    }
}



@media screen and (max-width:440px) {
    
    .titleMintz {
        top: -10rem;
        font-size: 10.5rem;
        letter-spacing: 4px;
        line-height: 6rem;
    }

    .titleMintz span {
        font-size: 4rem;
        letter-spacing: 3px;
    }

}


@media screen and (max-width:395px) {
    
    .titleMintz {
        top: -10rem;
        font-size: 10.5rem;
        letter-spacing: 4px;
        line-height: 5rem;
    }

    .titleMintz span {
        font-size: 3.5rem;
        letter-spacing: 3px;
    }

}

@media screen and (max-width:350px) {
    
    .titleMintz {
        top: -10rem;
        font-size: 10.5rem;
        letter-spacing: 4px;
        line-height: 5rem;
    }

    .titleMintz span {
        font-size: 3rem;
        letter-spacing: 2px;
    }

}