.footer{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 0rem;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3px);
    padding: 10rem 0;
    opacity: 0;
}

.box_contact_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 100%;
}

.title_contact_footer{
    height: 15rem;
    position: relative;
    color: white;
    z-index: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 2rem;
}

.title_contact_footer h1{
    position: relative;
    font-size: 15rem;
    letter-spacing: 3px;
    font-family: bulevar;
    outline: none;
    opacity: 1;
    text-transform: uppercase;
    transition: all .4s ease;
}

.hr_contact{
    position: relative;
    left: -.5rem;
    width: 0;
    height: .1rem;
    opacity: 0;
    bottom: 1rem;
    border: 1px solid rgb(255, 255, 255);
    box-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    transition: all .5s ease;
}


.box_contact_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 100%;
    top: 2rem;
}

.box_contact_main input{
    width: 40rem;
    height: 5rem;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-size:1.8rem;
    letter-spacing: -.5px;
    font-family: MontserratBold;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    box-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
}

.box_contact_main textarea{
    width: 40rem;
    height: 15rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    font-size:1.8rem;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: MontserratBold;
    outline: none;
    text-transform: uppercase;
    box-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
}


.box_contact_main input::placeholder , .pp_main::placeholder{
    font-size:3rem;
    letter-spacing:5px;
    font-family: bulevar;
    outline: none;
    position: absolute;
    top: 1.2rem;
    color: rgba(73, 73, 73, 0.692);
    font-weight: bold;
}


.sendContact_main{
    opacity: 0;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    font-size: 4rem;
    letter-spacing: 1.5px ;
    font-family: bulevar;
    padding: 1rem 2rem;
    position: relative;
    top: 2rem;
    background-color: black;
    cursor: pointer;
    text-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}

.sendContact_main:hover{
    scale: 1.1;
    text-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .7rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}
