.container_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    transition: all .4s ease;
    gap: 4rem;
    padding: 10rem 0;
    overflow-x: hidden;
    z-index: 999;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.title_Section_contact{
    height: 15rem;
    position: relative;
    z-index: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.title_Section_contact h1{
    position: relative;
    font-size: 15rem;
    letter-spacing: 3px;
    font-family: bulevar;
    outline: none;
    opacity: 1;
    text-transform: uppercase;
    transition: all .4s ease;
}


.box_contact_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 100%;
    top: -2rem;
}

.box_contact_section input{
    width: 40rem;
    height: 5rem;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-size:1.8rem;
    letter-spacing: -.5px;
    font-family: MontserratBold;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    box-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);

}

.box_contact_section textarea{
    width: 40rem;
    height: 15rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    font-size:1.8rem;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: MontserratBold;
    outline: none;
    text-transform: uppercase;
    box-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);

}

.box_contact_section input::placeholder , .pp::placeholder{
    font-size:3rem;
    letter-spacing:5px;
    font-family: bulevar;
    outline: none;
    position: absolute;
    top: 1.2rem;
    color: rgba(73, 73, 73, 0.692);
    font-weight: bold;
}

.sendContact{
    opacity: 0;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    font-size: 4rem;
    letter-spacing: 1.5px ;
    font-family: bulevar;
    padding: 1rem 2rem;
    background-color: black;
    cursor: pointer;
    text-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}


.sendContact_active{
    opacity: 0;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.705);
    font-size: 4rem;
    letter-spacing: 1.5px ;
    font-family: bulevar;
    padding: 1rem 2rem;
    cursor: pointer;
    text-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}

.sendContact:hover{
    scale: 1.1;
    text-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .7rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}


.sendContact_active:hover{
    scale: 1.1;
    text-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .7rem rgba(178, 255, 163, 0.699);
    transition: all .4s ease;
}

@media screen and (max-width:440px) {

    .title_Section_contact{
        top: 5rem;
    }

    .title_Section_contact h1 {
        font-size: 12rem;
        letter-spacing: 3px;
    }

    .box_contact_section input{
        width: 30rem;
    }

    .box_contact_section textarea{
        width: 30rem;
    }
}